@import "../../vars.css";

.Container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--theme-color-secondary);
}

.Cross {
  position: absolute;
  font-size: 50px;
  font-family: inherit;
  font-weight: 100;
  right: 20px;
  top: 0;
}
