@import '../../../vars.css';

.PasswordEntry {
  width: 400px;
  height: 200px;
  border: 1px solid var(--theme-color-primary);
  background-color: var(--theme-color-secondary);
  margin-top: 10px;
  margin-right: 10px;
}

@media (max-width: 400px) {
  .PasswordEntry {
    width: 100%;
    margin-right: 0;
  }
}

.Header {
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: var(--theme-color-secondary);;
  background-color: var(--theme-color-primary);;
}
